{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               example/queue  {:local/root "components/queue"}
                               example/util {:local/root "components/util"}

                               org.clojure/tools.logging                     {:mvn/version "1.1.0"}
                               net.logstash.logback/logstash-logback-encoder {:mvn/version "6.6"}
                               ch.qos.logback/logback-classic                {:mvn/version "1.2.3" :exclusions [org.slf4j/slf4j-api]}
                               org.slf4j/jul-to-slf4j                        {:mvn/version "1.7.26"}
                               org.slf4j/jcl-over-slf4j                      {:mvn/version "1.7.26"}
                               org.slf4j/log4j-over-slf4j                    {:mvn/version "1.7.26"}}}
            
            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "e51182d5e699f7e7ce141f1b1da25b50599d8886"
                                 :deps/root "projects/poly"}}}}}
